---
layout: default
title: "❡spook•chutney"
pagination: 
  enabled: true
---

<a href="/" style="text-decoration:none; color:black;"><h1>❡spook·chutney</h1></a>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
<span class="date">{{ post.date | date:"%s%Y%m%d" }}</span>
<div class="content">
  {{ post.content }}
</div>
{% endfor %}

<!-- pagination-->
{% if paginator.total_pages > 1 %}
<hr />
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
  {% else %}
  <span class="next ">Next</span>
  {% endif %}
</div>
{% endif %}
