---
layout: default
---

<a href="/" style="text-decoration:none; color:black;"><h1>❡spook·chutney</h1></a>

<h2><a href="{{ post.url}}">{{ page.title }}</a></h2>
<b><p class="date"><sans>{{ page.date | date:"%Y%m%d" }}</sans></p></b>

<div class="post">
  {{ content }}
</div>
<div style="clear: both;"></div>
<footer>
  <div class="PageNavigation">
    <ul>
    {% if page.previous.url %}
    <li class="prev"><a href="{{page.previous.url}}">☜</a></li>
    {% endif %}
    <li class="center" ><a href="/">☙</a></li>
    {% if page.next.url %}
    <li class="next"><a  href="{{page.next.url}}">☞</a></li>
    {% endif %}
        </ul>

  </div>
</footer>
